@font-face {
    font-family: 'Recoleta';
    src: url(./assets/fonts/RecoletaRegularDEMO/font.woff2) format("woff2"), url(./assets/fonts/RecoletaRegularDEMO/font.woff) format("woff");
}

body, dd, html, sub, sup, td, th {
    border: 0;
    font: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, tfoot, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

dd, sub, sup, td, th {
    margin: 0;
    padding: 0;
}

body, dd, html, td, th {
    vertical-align: baseline;
}

dd, td, th {
    margin: 0 0 0 20px;
}

td, th {
    margin: 0;
    padding: 2px;
}

body {
    line-height: 1;
}

button {
    outline: 0;
    border: 0;
    background: 0 0;
    width: 100%;
    max-width: 3rem;
    padding: 0 1rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 1000;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:after, blockquote:before {
    content: none;
}

q {
    display: inline;
}

q:after, q:before {
    content: '"';
    font-style: normal;
}

input[type=button], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=text], textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

big {
    font-size: 120%
}

small, sub, sup {
    font-size: 80%
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

kbd, tt {
    font-family: courier;
    font-size: 12px;
}

ins {
    text-decoration: underline;
}

del, s, strike {
    text-decoration: line-through;
}

dt {
    font-weight: 700;
}

address, cite, q, var {
    font-style: italic;
}

.slick-slide img, a, article, aside, button, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

body, html, p {
    color: #757575;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

*, :after, :before {
    box-sizing: border-box;
    font-variant-ligatures: no-common-ligatures;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper #container {
    flex: 1;
}

p {
    line-height: 1.75 !important;
}

.headline {
    line-height: 1.25 !important;
}

.headline {
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: recoleta;
    font-size: 1rem;
}

.overflow-wrap {
    width: 100%;
    overflow: hidden;
}

.view-all a, body, html {
    font-family: "proxima-nova"
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: 0;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden, footer .logo {
    display: none;
}

footer {
    padding: 6rem 3rem 2.5rem 0;
    background: #000;
    position: relative;
    z-index: 99999;
}

@media (max-width:960px) {
    /* footer {
        padding: 2rem 1rem 2rem 0;
    } */
}

footer .social-menu svg {
    margin-left: 1rem;
    margin-bottom: 1rem;
    fill: #757575;
    transition: fill .5s;
    width: .9rem;
    height: .9rem;
}

footer .menu-footer-container, footer .site-nav li span {
    position: relative;
    z-index: 10;
}

footer a {
    font-size: 2.5vw;
}

@media (max-width:960px) {
    footer a {
        font-size: 28px;
    }
}

.main-nav .site-nav a, footer .site-nav ul, header .main-menu .site-nav ul {
    display: inline-block;
}

footer .site-nav li {
    padding-left: 6rem;
    position: relative;
}

@media (max-width:960px) {
    footer .site-nav li {
        padding-left: 2rem;
    }
}

footer .site-nav .logo {
    margin-left: 5rem;
}

footer .site-nav a:before {
    content: "";
    width: 120%;
    transform: translateY(100%);
    transition: opacity .5s;
    transition-delay: 0;
    opacity: 0;
    height: 50%;
    background-color: #f8c90f;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 39%;
    margin-top: 4.5%;
    transform: translate(0, -50%);
}

.main-nav .site-nav a:not(.logo):hover:before, footer .site-nav a:not(.logo):hover:before {
    opacity: 1;
}

footer li {
    margin-bottom: .5rem;
    padding-left: .5rem;
}

footer .logo {
    margin-bottom: 1rem;
}

.to-top-wrapper, footer .social-menu {
    display: flex;
    justify-content: flex-end;
}

footer .social-menu {
    padding: 50vh 2rem 2rem 0;
}

footer .social-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer .social-menu li {
    padding: 0;
}

footer .social-menu a:hover svg {
    fill: #fff;
}

@media (max-width:960px) {
    /* footer .social-menu {
        padding: 2rem;
    } */
}

.to-top-wrapper {
    padding-top: 80px;
    z-index: 50;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s;
}

.to-top-wrapper .to-top {
    background: #f8c90f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-top-wrapper .to-top svg {
    transform: rotate(-180deg);
    stroke: #000;
}

.to-top-visible .to-top-wrapper, .work-slider-container .work-slider-nav li.active:before {
    opacity: 1;
}

.main-nav {
    position: absolute;
    width: 100%;
    z-index: 10000;
}

@media (max-width:960px) {
    .main-nav {
        position: fixed;
        z-index: 10000;
    }
}

.main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    position: relative;
    z-index: 10;
}

@media (max-width:960px) {
    .main-nav .container {
        padding: 1rem;
    }
}

.main-nav .container svg {
    overflow: visible;
}

.main-nav .container svg line, button svg line, header .main-menu {
    transition: all .5s;
}

.main-nav .container .logo {
    width: 100%;
    max-width: 99px;
}

.main-nav .container .logo svg, button svg {
    display: block;
    width: 100%;
    height: auto;
    overflow: visible;
}

.main-nav .container .logo.disabled {
    opacity: 0;
    pointer-events: none;
}

.main-nav .site-nav ul, .main-nav .site-nav ul li, footer li {
    position: relative;
}

.main-nav .site-nav a:before {
    content: "";
    width: 120%;
    transform: translateY(100%);
    transition: opacity .5s;
    transition-delay: 0;
    opacity: 0;
    height: 50%;
    background-color: #f8c90f;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: 4.5%;
    transform: translate(0, -50%);
    z-index: -1;
}

@media (max-width:767px) {
    button {
        top: 50%;
        right: 0;
    }
}

.main-nav .container svg, button svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

header .main-menu {
    min-height: calc(100vh);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #000;
    transform: translate(-100%, 0);
    z-index: 100;
}

header .main-menu .social-menu {
    padding-top: 0;
    align-self: flex-end;
}

header .main-menu .sub-wrap {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%
}

button.menu-toggle {
    padding: 0;
    width: 1rem;
    position: static;
}

button.menu-toggle.dark svg {
    fill: #000;
}

button.menu-toggle.dark svg line {
    stroke: #000;
}

.menu-visible .menu-toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.menu-visible .menu-toggle.dark svg, header .main-menu .social-menu a:hover svg {
    fill: #fff;
}

.menu-visible .menu-toggle.dark svg line {
    stroke: #fff;
}

@media (max-width:960px) {
    .menu-visible .menu-toggle {
        position: static;
    }
}

.menu-visible .menu-toggle svg line:first-child {
    transform: translate(0, 0) rotate(45deg);
    transform-origin: 0 0;
}

.menu-visible .menu-toggle svg line:nth-child(2) {
    transform: translate(0, 0) rotate(-45deg);
    transform-origin: 15% 100%
}

.menu-visible header .main-menu {
    transform: translate(0, 0);
}

header .main-menu ul li {
    margin-bottom: .5rem;
}

header .main-menu ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 2.5vw;
    line-height: .95;
}

@media (max-width:960px) {
    header .main-menu ul a {
        font-size: 28px;
    }
}

header .main-menu .menu {
    position: relative;
    z-index: 10;
}

header .main-menu .site-nav {
    position: relative;
    padding: 1.5rem 2.3rem 1.5rem 0;
}

@media (max-width:767px) {
    header .main-menu .site-nav {
        padding: .5rem 2.3rem 1.5rem 0;
    }
}

header .main-menu .site-nav a {
    font-family: recoleta;
    display: inline-block;
}

header .main-menu .site-nav ul li {
    padding-left: 2.3rem;
}

@media (max-width:767px) {
    header .main-menu .site-nav ul li {
        padding-left: 1.3rem;
    }
}

header .main-menu .site-nav .logo {
    margin-left: 2.3rem;
}

@media (max-width:767px) {
    header .main-menu .site-nav .logo {
        margin-left: 1.3rem;
    }
}

header .main-menu .site-nav svg {
    max-width: 5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    margin-left: -.3rem;
}

header .main-menu .social-menu {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    right: 1.75rem;
}

header .main-menu .social-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header .main-menu .social-menu li {
    padding: .5rem;
}

header .main-menu .social-menu svg {
    width: .9rem;
    fill: #605f5f;
    transition: all .5s;
}

.intro, .slick-dots li {
    display: flex;
    justify-content: center;
    position: relative;
}

.intro, .title {
    width: 100%;
    align-items: center;
}

.intro {
    min-height: 90vh;
    background-color: #000;
    padding: 2rem;
}

.intro .logo svg {
    width: 100%;
    height: auto;
    max-width: 167px;
}

.intro .icon {
    position: absolute;
    bottom: 1.75rem;
    left: 50%;
    transform: translate(-50%);
}

.intro .icon svg {
    stroke: #fff;
}

.title {
    display: flex;
    background: #f8c90f;
    line-height: 1.25;
    font-family: recoleta;
    padding: 4rem 6rem;
    font-size: 2.5vw;
    background-size: cover;
    background-position: center;
}

@media (max-width:960px) {
    .title {
        font-size: 28px;
        padding: 2rem;
    }
}

.title.fill {
    min-height: 80vh;
}

.title.video {
    padding: 0;
    overflow-x: hidden;
    background: transparent;
}

@media (max-width:767px) {
    .title.video {
        height: 100vh;
    }
}

.title.video .vimeo-player {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.slick-dots li button, .title.video .vimeo-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media (max-width:767px) {
    .title.video .vimeo-player {
        height: 100vh;
        padding-top: 0;
    }

    .title.video .vimeo-player iframe {
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.title.quote {
    padding: 4rem 2rem;
    margin: 5rem 0 0;
}

.title.quote p {
    font-family: recoleta;
    color: #000;
}

@media (max-width:960px) {
    .title.quote {
        margin: 2rem 0 0;
        font-size: 1rem;
        line-height: 1;
        padding: 4rem;
    }

    .title.quote span {
        display: block;
        line-height: 1;
        margin-bottom: 2rem;
    }

    .title.quote br {
        display: none;
    }
}

.title .center {
    text-align: center;
    margin: 0 auto;
    line-height: 2;
}

.title a, .work-slider-container .view-all a {
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: 2px;
}

.title a {
    color: #000;
    margin-top: 2.8rem;
    font-family: "proxima-nova";
    font-weight: 100;
}

.work-slider-container {
    height: 80vh;
    position: relative;
}

.work-slider-container .work-slider .slide-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.work-slider-container .view-all {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

@media (max-width:960px) {
    .work-slider-container .view-all {
        left: 1.5rem;
    }
}

.work-slider-container .view-all a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: .5rem;
    display: block;
    transition: color .5s;
}

.work-slider-container .view-all a:hover {
    color: #f8c90f;
}

.work-slider-container .work-slider-nav {
    position: absolute;
    bottom: 4.5rem;
    font-size: 2.2rem;
    color: #fff;
    font-family: recoleta;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav {
        left: 0;
        width: 100%
    }
}

.work-slider-container .work-slider-nav li {
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li {
        width: 100%;
        padding-left: 2rem;
    }
}

.work-slider-container .work-slider-nav li a {
    position: relative;
    z-index: 10;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2.5vw;
    padding-left: 6rem;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li a {
        font-size: 28px;
        padding-left: 0;
    }
}

.work-slider-container .work-slider-nav li:before {
    content: "";
    width: 120%;
    height: 50%;
    background-color: #f8c90f;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 39%;
    margin-top: 3%;
    transform: translate(0, -50%);
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li:before {
        width: calc(100vw - 40px);
        margin-top: 2%
    }
}

.slick-dots {
    position: absolute;
    bottom: 1.5rem;
    right: 2.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1rem;
}

.slick-dots li {
    height: 1rem;
    width: 1rem;
    font-size: 0;
    overflow: hidden;
    margin: 0 .2rem;
}

.slick-dots li button {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.slick-dots li button:after {
    content: "";
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 5px;
    font-size: 0;
    opacity: .5;
    border-radius: 100%;
    transition: all .5s;
    transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button:after {
    opacity: 1;
    height: 8px;
    width: 8px;
}

.work-tiles {
    background: #fff;
    padding: 5rem 6rem;
    min-height: 100%;
    overflow: visible;
    overflow-x: hidden;
}

@media (max-width:1156px) {
    .work-tiles {
        padding-bottom: 1rem;
    }
}

@media (max-width:960px) {
    .work-tiles {
        padding: 5rem 2rem 1rem;
    }
}

.work-tiles .work-tile {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    transition: all 2s;
    opacity: 0;
    transform: translateY(20%);
}

.work-tiles .work-tile:nth-of-type(even) {
    align-items: flex-end;
}

.work-tiles .work-tile .content {
    width: 60%
}

.pre-footer.prior-work h3 {
    font-size: 2.5vw;
    margin: 1.5rem 0 .75rem;
    color: #000;
}

@media (max-width:1156px) {
    .work-tiles .work-tile .content {
        width: 100%;
        max-width: 547px;
    }
}

.work-tiles .work-tile h3 {
    font-size: 2.5vw;
    margin: 1.5rem 0 .75rem;
}

@media (max-width:1024px) {
    .work-tiles .work-tile h3,
    .pre-footer.prior-work h3 {
        font-size: 26px;
    }
}

.work-tiles .work-tile p {
    font-size: clamp(14px, 1vw, 1vw);
    max-width: 70%;
    color: #757575;
    letter-spacing: .025rem;
    line-height: 1.5;
    font-family: "proxima-nova"
}

@media (max-width:1024px) {
    .work-tiles .work-tile p {
        max-width: 100%
    }
}

.work-tiles .work-tile a {
    display: block;
    text-decoration: none;
    color: #000;
    transition: color .5s;
}

.pre-footer a:hover, .work-tiles .work-tile a:hover {
    color: #757575;
}

.work-tiles .img-wrapper {
    position: relative;
}

.work-tiles .img-wrapper:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background: #f8c90f;
    z-index: 1;
    right: 100%;
    bottom: 1.7rem;
    transition: all 4s;
    transform: translateX(50%);
    pointer-events: none;
}

.work-tiles .work-tile:nth-of-type(even) .img-wrapper:before {
    right: auto;
    left: 100%;
    transform: translateX(-50%);
}

.work-tiles img {
    width: 100%;
    display: block;
}

.work-tiles .work-tile.active {
    opacity: 1;
    transform: translateY(0);
}

.work-tiles .work-tile.active:nth-of-type(even) .img-wrapper:before {
    transform: translateX(-6rem);
}

.work-tiles .work-tile.active:nth-of-type(odd) .img-wrapper:before {
    transform: translateX(6rem);
}

@media (max-width:960px) {
    .work-tiles .work-tile.active:nth-of-type(even) .img-wrapper:before {
        transform: translateX(-2rem);
    }

    .work-tiles .work-tile.active:nth-of-type(odd) .img-wrapper:before {
        transform: translateX(2rem);
    }
}

.pre-footer {
    font-family: recoleta;
    color: #757575;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
    padding: 0 2rem 8rem;
}

@media (max-width:767px) {
    .pre-footer span {
        display: block;
        max-width: 170px;
        margin: 0 auto;
    }
}

.page-headline h2, .pre-footer h3 {
    position: relative;
    display: inline-block;
}

.pre-footer h3 {
    margin: 0 auto;
}

@media (min-width:1400px) {
    .pre-footer h3 {
        font-size: 1.75vw;
        max-width: 50%
    }
}

.pre-footer h3:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background: #757575;
    z-index: 1;
    left: 0;
    bottom: 1rem;
    top: 50%;
    transform: translate(-100%, -50%);
    margin-left: -60px;
    pointer-events: none;
}

.pre-footer h3.right:before {
    right: 0;
    left: auto;
    bottom: 1rem;
    transform: translate(100%, -50%);
    margin: 0 -60px 0 0;
}

@media (max-width:767px) {
    .pre-footer h3:before {
        margin-left: -30px;
    }
}

.pre-footer img, .pre-footer svg {
    display: block;
    margin: 4rem auto 2rem;
    max-width: 180px;
}

.pre-footer a {
    color: #f8c90f;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 3px;
    font-weight: 600;
}

.pre-footer.prior-work {
    padding-top: 4rem;
}

.pre-footer.prior-work p {
    font-size: clamp(14px, 1vw, 1vw);
    color: #757575;
    font-family: "proxima-nova";
    line-height: 1.75rem;
    letter-spacing: .025rem;
    max-width: 500px;
    margin: 0 auto;
}

.page-headline {
    position: relative;
    padding: 5rem 6rem;
    margin: 0 auto;
}

.post-type-archive-work .page-headline {
    padding: 5rem 6rem 0;
}

@media (max-width:960px) {
    .page-headline,
    .post-type-archive-work .page-headline {
        padding: 3rem 2rem;
    }
}

.page-headline h2 {
    font-family: recoleta;
    font-size: 2.5vw;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

@media (max-width:1024px) {
    .page-headline h2 {
        font-size: 26px;
    }
}

.capabilities h4:before, .page-headline h2:before {
    content: "";
    background: #f8c90f;
    height: 2px;
    position: absolute;
    bottom: 0;
}

.page-headline h2:before {
    width: 100vw;
    z-index: 1;
    right: 0;
    transition: all 4s;
    pointer-events: none;
}

.page-headline .intro-copy {
    padding-bottom: 5rem;
    max-width: 850px;
}

.page-headline .intro-copy p {
    font-size: 1vw;
    font-family: "proxima-nova";
    line-height: 1.75;
}

@media (max-width:1600px) {
    .page-headline .intro-copy p {
        font-size: 18px;
        max-width: 100%
    }
}

@media (max-width:1024px) {
    .page-headline .intro-copy p {
        font-size: 16px;
        max-width: 100%
    }
}

.page-headline .pre-footer {
    margin-bottom: 0;
    padding-bottom: 0;
}

.post-type-archive-work .intro-copy {
    margin-bottom: 0;
    padding-bottom: 0;
}
.bios h3 {
    margin: 0 auto;
}

/* .page-id-8 .intro-copy {
    margin: 0 auto;
} */

.graphic {
    padding: 0 6rem 5rem;
}

@media (max-width:960px) {
    .graphic {
        padding: 0 2rem 5rem;
    }
}

.bios .bio img, .graphic img {
    width: 100%
}

.bios {
    background: #fff;
    padding: 0 13%
}

@media (max-width:960px) {
    .bios {
        padding: 0 2rem;
    }
}

.bios h3 {
    text-align: center;
    color: #757575;
}

@media (max-width:960px) {
    .bios h3 {
        width: 140px;
    }
}

.bios ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

@media (max-width:960px) {
    .bios ul {
        flex-wrap: wrap;
        padding-top: 0;
    }
}

.bios .bio {
    padding: 1rem;
    width: 100%;
    max-width: 500px;
}

@media (max-width:960px) {
    .bios .bio {
        max-width: 400px;
    }
}

.bios .bio .name {
    margin-top: 1rem;
    font-size: .8rem;
    color: #757575;
    letter-spacing: 1px;
    line-height: 1.75;
}

.bios .bio .job-title, .bios .bio .name {
    display: block;
    font-weight: 700;
}

.bios .bio .job-title, .bios .bio p, .process-items ul li {
    font-size: .8rem;
    color: #757575;
    line-height: 1.75;
    letter-spacing: 1px;
}

.bios .bio p {
    display: block;
    padding-top: 1rem;
}

.capabilities {
    padding-bottom: 3rem;
}

.capabilities .wrapper {
    margin: 0 auto;
    padding: 0 6rem;
}

@media (max-width:960px) {
    .capabilities .wrapper {
        padding: 0 2rem;
    }

    .capabilities h5 {
        display: none;
    }
}

.capabilities h4, .capabilities h5 {
    font-family: "proxima-nova";
    font-size: .5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .1rem;
    text-align: center;
}

.capabilities h4 {
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: left;
    position: relative;
    display: inline-block;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.capabilities h4:before {
    width: 50%;
    left: 0;
}

.capabilities .list {
    padding-top: 4rem;
}

.capabilities .caps, .process-items ul label {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.capabilities .caps {
    display: flex;
    flex-wrap: wrap;
    color: #757575;
    font-weight: 400;
    justify-content: space-between;
}

@media (max-width:1120px) {
    .capabilities .caps .col li {
        max-width: 200px;
    }
}

@media (max-width:960px) {
    .capabilities .caps .col {
        width: 100%
    }

    .capabilities .caps .col li {
        max-width: 100%
    }
}

.capabilities .caps ul {
    padding-right: 1rem;
}

.capabilities .caps li {
    padding-bottom: 1rem;
    line-height: 1.75;
}

.process {
    padding-bottom: 1rem;
}

.process .graphic {
    margin: 1rem auto 2rem;
    display: block;
    padding: 0;
    width: 100%
}

.process .wrapper {
    margin: 0 auto;
    padding: 0 6rem;
}

@media (max-width:960px) {
    .process .wrapper {
        padding: 0 2rem;
    }
}

.process .pre-footer {
    padding: 2rem 0 4rem;
}

.process-items {
    padding: 3rem 0;
}

.process-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

@media (max-width:960px) {
    .process-items ul {
        display: block;
    }
}

.process-items ul label {
    display: block;
    font-weight: 700;
    color: #000;
}

.process-items ul label:after {
    content: "";
    background: #f8c90f;
    width: 50%;
    height: 2px;
    display: block;
    margin: 1.25rem 0;
    max-width: 60px;
}

.process-items ul li {
    padding-right: 5%;
    flex: 1;
}

.process-items ul li:last-child {
    padding-right: 0;
}

@media (max-width:960px) {
    .process-items ul li {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.work-detail .container {
    padding: 2rem 0;
    flex: 1;
}

.work-detail .categories, .work-detail .work-detail-list p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #00000070;
    line-height: 1.25;
}

.work-detail .categories {
    text-align: right;
    transform: translateY(-3.5rem);
}

.work-detail .categories li {
    margin-bottom: .5rem;
}

@media (max-width:960px) {
    .work-detail .categories {
        margin-bottom: 2rem;
        transform: translateY(0);
    }
}

.work-detail .page-headline {
    padding-bottom: 0;
}

.work-detail .pre-footer {
    margin-top: 5rem;
}

.work-detail .work-detail-list {
    padding: 0 6rem;
    display: flex;
    position: relative;
    z-index: 1;
}

.work-detail .work-detail-list .top-content {
    display: flex;
    justify-content: space-between;
}

.work-detail .work-detail-list .top-content .col {
    padding-right: 4rem;
    width: 50%
}

@media (max-width:960px) {
    .work-detail .work-detail-list .top-content {
        flex-wrap: wrap;
    }

    .work-detail .work-detail-list .top-content .col {
        padding-right: 0;
        width: 100%
    }
}

.work-detail .work-detail-list .categories {
    order: 1;
    position: relative;
    z-index: 100;
}

@media (max-width:960px) {
    .work-detail .work-detail-list .categories {
        order: 0;
    }
}

.work-detail .work-detail-list .categories ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.work-detail .work-detail-list .categories ul li {
    background: #fff;
    padding-left: 1rem;
}

@media (max-width:960px) {
    .work-detail .work-detail-list {
        flex-wrap: wrap;
        transform: translateY(-3.5rem);
        padding: 0 2rem;
    }

    .work-detail .work-detail-list .categories, .work-detail .work-detail-list .container {
        width: 100%
    }
}

.work-detail .work-detail-list .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
}

.work-detail .work-detail-list h3 {
    font-family: "proxima-nova";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.work-detail .work-detail-list .item {
    padding-bottom: 2rem;
}

.work-detail .work-detail-list label {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    display: block;
}

.work-detail .work-detail-list p {
    padding-right: 0;
}

@media (max-width:960px) {
    .work-detail .work-detail-list p {
        padding-right: 0;
    }
}

.detail-section>div:first-child {
    transform: translateY(50%);
    transition: transform 1s, opacity 2s;
    transition-timing-function: ease;
    opacity: 0;
}

.detail-section.active>div:first-child {
    transform: translateY(0);
    opacity: 1;
}

.column img {
    display: block;
    width: 100%
}

.column.video .wrapper {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    width: 100%
}

.column.video .vimeo-player, .column.video .vimeo-player iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.column.video .vimeo-player iframe {
    pointer-events: none;
}

.column.video.controls .vimeo-player iframe {
    pointer-events: auto;
}

.column.full .wrapper {
    width: 100%
}

.column.padded .wrapper {
    width: 100%;
    padding: 0 6rem;
}

@media (max-width:767px) {
    .column.padded .wrapper {
        padding: 0 2rem;
    }
}

.column.padded.video {
    padding: 0 6rem;
}

@media (max-width:767px) {
    .column.padded.video {
        padding: 0 2rem;
    }
}

.column.padded.video .wrapper {
    padding-top: 75%
}

.multi-column>.wrapper {
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .multi-column>.wrapper {
        flex-wrap: wrap;
        padding: 0 2rem;
    }
}

.multi-column .wrapper {
    width: 100%
}

.multi-column.two-column .column {
    width: calc(50% - 1rem);
    display: flex;
    align-items: flex-end;
}

@media (max-width:767px) {
    .multi-column.two-column .column {
        width: 100%
    }
}

.multi-column.two-column .column:first-child {
    padding-bottom: 25%
}

@media (max-width:767px) {
    .multi-column.two-column .column:first-child {
        padding: 0;
        margin-bottom: 1rem;
    }
}

.multi-column.three-column .column {
    width: calc(33.333% - 2rem);
}

@media (max-width:767px) {
    .multi-column.three-column .column {
        width: 100%;
        margin-bottom: 1rem;
    }

    .multi-column.three-column .column:last-child {
        margin-bottom: 0;
    }
}

.multi-column.three-column .column.video .wrapper {
    height: 100%;
    overflow: hidden;
}

.multi-column.three-column .column.video iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.multi-column .column.video .wrapper {
    padding-top: 100%
}

.detail-section {
    padding: 4rem 0;
}

@media (max-width:767px) {
    .detail-section {
        padding: 2rem 0;
    }
}

.detail-slider-container {
    padding: 6rem;
    width: 100%
}

.detail-slider-container img {
    width: 100%;
    display: block;
}

@media (max-width:767px) {
    .detail-slider-container {
        padding: 0 2rem;
    }
}


.multi-column.three-column>.wrapper {
    height: 868px;
}

.multi-column.three-column .column.video iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: initial;
    left: initial;
    transform: initial;
    transform: scale(1.1);
}

@media (max-width:1440px) {
    .multi-column.three-column>.wrapper {
        height: 750px;
    }
    .multi-column.three-column .column.video iframe {
        transform: scale(1.3);
    }
}

@media (max-width:1200px) {
    .multi-column.three-column>.wrapper {
        height: 650px;
    }
    .multi-column.three-column .column.video iframe {
        transform: scale(1.2);
    }
}

@media (max-width:1100px) {
    .multi-column.three-column>.wrapper {
        height: 500px;
    }
    .multi-column.three-column .column.video iframe {
        transform: scale(1.3);
    }
}

@media (max-width:991px) {
    .multi-column.three-column .column {
        width: calc(33.333% - 1rem);
    }
}

@media (max-width:767px) {
    .multi-column.three-column>.wrapper {
        height: 100%;
    }
    .multi-column.three-column .column.video iframe {
        transform: scale(1);
    }
	 .multi-column.three-column .column {
        width: 100%;
    }
}
