@font-face {
    font-family: 'Recoleta';
    src: url(./assets/fonts/RecoletaRegularDEMO/font.woff2) format("woff2"), url(./assets/fonts/RecoletaRegularDEMO/font.woff) format("woff");
}

body, dd, html, sub, sup, td, th {
    border: 0;
    font: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, tfoot, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

button {
    outline: 0;
    border: 0;
    background: 0 0;
    width: 100%;
    max-width: 3rem;
    padding: 0 1rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 1000;
}

ol, ul {
    list-style: none;
}

input[type=button], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=text], textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.slick-slide img, a, article, aside, button, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.view-all a{
    font-family: "proxima-nova"
}

.slick-list, .slick-slider {
    position: relative;
    display: block;
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: 0;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir=rtl] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden, footer .logo {
    display: none;
}


.main-nav .site-nav a, footer .site-nav ul, header .main-menu .site-nav ul {
    display: inline-block;
}


.to-top-visible .to-top-wrapper, .work-slider-container .work-slider-nav li.active:before {
    opacity: 1;
}


.main-nav .container svg line, button svg line, header .main-menu {
    transition: all .5s;
}

.intro, .slick-dots li {
    display: flex;
    justify-content: center;
    position: relative;
}


@media (max-width:767px) {
    .title.video {
        height: 100vh;
    }
}

.title.video .vimeo-player {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.slick-dots li button, .title.video .vimeo-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media (max-width:767px) {
    .title.video .vimeo-player {
        height: 100vh;
        padding-top: 0;
    }

    .title.video .vimeo-player iframe {
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.work-slider-container {
    height: 80vh;
    position: relative;
}

.work-slider-container .work-slider .slide-item {
    height: 80vh;
    background-size: cover;
    background-position: center;
}

.work-slider-container .view-all {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

@media (max-width:960px) {
    .work-slider-container .view-all {
        left: 1.5rem;
    }
}

.work-slider-container .view-all a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: .5rem;
    display: block;
    transition: color .5s;
}

.work-slider-container .view-all a:hover {
    color: #f8c90f;
}

.work-slider-container .work-slider-nav {
    position: absolute;
    bottom: 4.5rem;
    font-size: 2.2rem;
    color: #fff;
    font-family: recoleta;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav {
        left: 0;
        width: 100%
    }
}

.work-slider-container .work-slider-nav li {
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li {
        width: 100%;
        padding-left: 2rem;
    }
}

.work-slider-container .work-slider-nav li a {
    position: relative;
    z-index: 10;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 2.5vw;
    padding-left: 6rem;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li a {
        font-size: 28px;
        padding-left: 0;
    }
}

.work-slider-container .work-slider-nav li:before {
    content: "";
    width: 120%;
    height: 50%;
    background-color: #f8c90f;
    position: absolute;
    left: 0;
    z-index: 0;
    top: 39%;
    margin-top: 3%;
    transform: translate(0, -50%);
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
}

@media (max-width:960px) {
    .work-slider-container .work-slider-nav li:before {
        width: calc(100vw - 40px);
        margin-top: 2%
    }
}

.slick-dots {
    position: absolute;
    bottom: 1.5rem;
    right: 2.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1rem;
}

.slick-dots li {
    height: 1rem;
    width: 1rem;
    font-size: 0;
    overflow: hidden;
    margin: 0 .2rem;
}

.slick-dots li button {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.slick-dots li button:after {
    content: "";
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    height: 5px;
    width: 5px;
    font-size: 0;
    opacity: .5;
    border-radius: 100%;
    transition: all .5s;
    transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button:after {
    opacity: 1;
    height: 8px;
    width: 8px;
}
